/*  
Theme Name: Rachel Rippy blog
Theme URI: http://www.rachelrippy.com/blog/
Description: Custom theme for my blog based off of Notes Blog.
Author: Rachel Rippy
Author URI: http://www.rachelrippy.com
Version: 1.0

*/

/* =====
   RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remove scroll-bar shift */
html { 
	overflow-y: scroll;
	height: 100%;
}


.clear {
	clear:both;
	display:block;
	font-size:1px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
	
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* ======
   LAYOUT */

.right,
.alignright,
.nav-next {
	float: right;
}

.left,
.alignleft,
.nav-previous {
	float: left;
}

.column {
	 /* One column */
}

.widecolumn {
	 /* Two columns */
}

.fullcolumn {
	 /* Three columns */
}

body {
	background: #F1F39D;
	font-weight: normal;
}

div#site {
	width: 100%;
}

div#outer-wrap {
	width: 1074px;
	margin: 0 auto;
}
div#inner-wrap {
	width: 1038px;
}

div#header {
	width: 100%;
	float: left;
	margin: 18px;
}
	div.header-widgetarea { width: 280px; float: right; }
		ul#header-widget {}
			ul#header-widget li { margin:0; padding:0; border:0; }
	#site-header { width: 660px; float: left; }

div#blog {
	width: 100%;
	height: 160px;
	margin: 0 18px;
}

div#top-navigation {
	width: 100%;
	float: left;
}
	div#top-navigation div ul { float: left; }
		div#top-navigation div ul li { float: left; margin: 0; padding: 10px 0; }

div#content {
	float: left;
	margin-bottom: 30px;
}
	div.post, div.page, div.attachment, div.hentry { 
		margin: 30px 0 0;
		padding: 18px 16px; 
		clear: both; 
		width: 658px;
		background-color: #fff;
	} 
		div.format-aside-permalink { float:right; margin: 0 0 10px 20px; }
		div.read-more { text-align: right; }
	div.sticky {}
		div.sticky div.entry-meta { border-color: #111; }
	div.navigation { width: 100%; float:left; }
	div#nav-above { margin: 20px 0 40px 0; display: none; }
		.nav-previous { padding-left: 20px; }
	div#nav-below { margin: 20px 0; }
	div#home-header { width: 100%; float: left; border-bottom: 1px dotted #e9e9e9; } /* 960 px */
		ul.header-column { width: 320px; float: left; }
			ul.header-column li { padding-top: 20px; }
		ul.header-column-left {}
			ul.header-column-left li { padding-left: 20px; padding-right: 5px; }
		ul.header-column-middle {}
			ul.header-column-middle li { padding-left: 15px; padding-right: 15px; }
		ul.header-column-right {}
			ul.header-column-right li { padding-left: 5px; padding-right: 20px; }
			li.home-widget-container { margin-bottom: 20px; }
				li.home-widget-container ul { margin:0; padding: 0; }
					li.home-widget-container ul li { margin: 10px 0 0 0; padding: 0; border: 0; }
	div#post-thumbnail { width: 100%; margin: 0 20px; padding-top: 20px; float: left; }
	div.entry-meta { margin: 0 0 16px 0px; }
	ol.commentlist { margin: 20px 0; }
		li.comment {}
			div.comment-author {}
				div.comment-author img { float: left; margin-right: 10px; }
				div.comment-author cite { font-weight: bold; font-style: normal; }
			div.comment-meta { margin-bottom: 10px; }
			div.comment-body {}
				div.comment-body p { padding: 5px 0; }
			div.reply { margin-top: 0; padding-bottom: 10px; border-bottom: solid thin #001300; text-align: right; }
			li.comment ul.children { margin: 20px 0 0 20px; }
		li.depth-1 { margin-bottom: 20px; }
		li.byuser {}
		li.bypostauthor {}
		li.pingback { padding: 10px 10px 1px 10px; background:#efefef; }
			li.pingback p, li.pingback div.reply { display:none; }
	div#respond { margin: 30px 0 0; } 
		div#respond p { clear:both; }
		p.comment-notes, p.logged-in-as { margin-bottom: 10px; }
		p.comment-form-author, p.comment-form-email, p.comment-form-url { margin-bottom: 5px; }
			p.comment-form-author label, p.comment-form-email label, p.comment-form-url label { margin-bottom: 5px; line-height: 28px; }
		div#respond h3 { margin-bottom: 4px; }
		input#author, input#email, input#url { 
			float:left; 
			margin-right: 10px; 
			padding: 5px; 
			width: 300px;
		}
		textarea#comment { 
			width: 670px; 
			padding: 10px; 
		}
		span.required { color: #00A651; }

div#sidebar-container {
	float: left;
	margin: 0 0 30px 30px;
}
	ul#sidebar { 
		margin: 30px 0 20px 0; 
	} /* 260 pixels */
		ul#sidebar li.widget-container { 
			margin-bottom: 40px; 
			float: left;
			clear: both;
		}
		ul#sidebar li#mr-social-sharing-toolkit-follow-widget-2 {
			clear: none;
		}
		ul#sidebar li#mr-social-sharing-toolkit-follow-widget-2 span.mr_social_sharing {
			margin: 0 0 10px 10px;
		}
		ul#sidebar li#mr-social-sharing-toolkit-follow-widget-2 div.mr_social_sharing_wrapper {
			margin: 0;
		}
		#searchform input.button {
			background: none;
			border: none;
			color: transparent;
			height: 26px;
			width: 26px;
			margin-left: -30px;
			cursor: pointer;
			padding: 0;
		}
		#searchform input.keyword {
			margin: 0;
			height: 26px;
			width: 200px;
			padding: 0 26px 0 6px;
			border-color: #464646;
			border-radius: 2px;	
			background: url(images/search.png) no-repeat 97%;
		}
		.mr_social_sharing_wrapper  span.mr_social_sharing {
			margin: 0 10px 0 0;
		}
			li.widget-container ul { margin: 10px 0; padding: 0; }
				li.widget-container ul li { margin: 5px 0 0 0; padding: 0; border: 0; }
		li.widget_tag_cloud {}
			li.widget_tag_cloud div { margin-top: 10px; }
		li.widget_text {}
			div.textwidget {}
				div.textwidget p { margin-top: 10px; }
		

div#footer {
	width: 100%;
	float: left;
}
	div.footer-column-container { float: left; padding: 0 10px; }
		ul.footer-column { width: 235px; float: left; }
			ul.footer-column li { margin: 0 10px 10px 10px; padding:0; background: #e9e9e9; } /* 215-20=195 px */
			ul.footer-column li.widget-container {}
				ul.footer-column li.widget-container h2.widget-title { padding: 10px 10px 0 10px; }
				ul.footer-column li.widget-container div { padding: 10px; }
					ul.footer-column li.widget-container div.textwidget, ul.footer-column li.widget_tag_cloud div { padding-top: 0; }
				ul.footer-column li.widget-container ul { padding: 0 10px 10px 10px; }
					ul.footer-column li.widget-container ul li { float: none; }

div#copy {
	margin: 0 18px;
	border-top: solid thin #001300;
	height: 82px;
	clear: both;
	width: 100%;
}
	div#copy div.left p { padding: 10px 0 10px 20px; }
	div#copy div.right p { padding: 10px 20px 10px 0; }

div#finalword {
	width: 100%;
	float:left;
	margin-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
#footer_info {
	text-align: center;
	margin-top: 25px;
}
#footer_info p {
	line-height: 1.7em;
}

/* ==========
   TYPOGRAPHY */
   
@font-face {
    font-family: 'MelbourneBold';
    src: url('http://www.rachelrippy.com/melbourne/melbourne_bold-webfont.eot');
    src: url('http://www.rachelrippy.com/melbourne/melbourne_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.rachelrippy.com/melbourne/melbourne_bold-webfont.woff') format('woff'),
         url('http://www.rachelrippy.com/melbourne/melbourne_bold-webfont.ttf') format('truetype'),
         url('http://www.rachelrippy.com/melbourne/melbourne_bold-webfont.svg#MelbourneBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MelbourneRegular';
    src: url('http://www.rachelrippy.com/melbourne/melbourne_reg-webfont.eot');
    src: url('http://www.rachelrippy.com/melbourne/melbourne_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.rachelrippy.com/melbourne/melbourne_reg-webfont.woff') format('woff'),
         url('http://www.rachelrippy.com/melbourne/melbourne_reg-webfont.ttf') format('truetype'),
         url('http://www.rachelrippy.com/melbourne/melbourne_reg-webfont.svg#MelbourneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
}
h1 {
  font-family: 'MelbourneBold', arial, sans-serif;
  color: #00A651;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
h2, p, a {
	color: #001300;
	font-style: regular;
	font-weight: 400;
	letter-spacing: 0.2px;
}
h2, div#respond h3, h3#comments-title {
	line-height: 1.6em;
	font-family: 'MelbourneBold', arial, sans-serif;
	font-size: 14px;
	color: #00A651;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
h4, h3 {
  font-family: 'MelbourneBold', arial, sans-serif;
  color: #001300;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

p {
	line-height: 1.3em;
}
a, img {
	text-decoration: none;
	border: none;
}
#header a:hover, .piece_description p a:hover, .direction_btns p a:hover {
	color: #00A651;
}
.main_nav {
	font-family: 'MelbourneBold', arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.075em;
}
.contact_info p, .contact_info a {
	font-family: 'MelbourneRegular', arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.075em;
	float: left;
	margin-right: 16px;
}
.contact_info a {
	line-height: 1.3em;	
}
.contact_info p:last-child {
	margin-right: 0;
}
.top_nav {
	clear: both;
}
.top_nav a {
	margin-right: 16px;
}



body, input, textarea {
	font-family: Arial, sans-serif;
	font-size: 11px;
}

h3, h4, h5, h6,
.entry-meta, #sidebar, div#top-navigation,
div#copy {
	font-family: Helvetica, Arial, sans-serif;
}

.entry-content p, .entry-summary p {
	color: #001300;
	font-size: 12px;
	line-height: 145%;
	margin-bottom: 16px;
	padding-right: 20px;
}
.entry-content em, .entry-summary em {
	color: #777;
}

.entry-title {
	font-size: 30px;
	line-height: 30px;
	margin: 10px 0 16px;
	font-weight: normal;
}

.page-title {
	margin: 30px 0 0;
	font-size: 24px;
	line-height: 24px;
	color: #666;
	font-style: italic;
	font-weight: normal;
}
	.page-title span { font-weight: bold; font-style: normal; color: #001300; }

.entry-content h2 {
	margin: 32px 0 16px 0;
	font-size: 24px;
	color: #111;
	font-weight: normal;
}

.entry-content h3, .entry-content h4 {
	margin: 18px 0 0 0;
	font-size: 22px;
	font-family: 'MelbourneBold', arial, sans-serif;
	letter-spacing: 0.01em;
}

.entry-content ol, .entry-content ul {
	margin: 0 20px 16px 20px;
	padding-left: 25px;
	color: #666;
}
.entry-content ol { list-style: decimal; }
.entry-content ul { list-style: square; }
.entry-content ol li, .entry-content ul li { margin-bottom: 8px; }

blockquote {
	color: #666;
	font-style: italic;
}
	blockquote p { color: #666 !important; }

#sidebar, .entry-meta, div.format-aside-permalink,
div.read-more,
div#copy, div#finalword,
div.comment-author, div.comment-meta, div#respond p {
	font-size: 11px;
	color: #001300;
}

div.comment-body p, ul.footer-column {
	font-size: 14px;
	line-height: 125%;
}

.widget-title, div#top-navigation, div.reply {
	font-size: 16px;
	text-transform: uppercase;
	color: #001300;
	border-bottom: solid 1px #001300;
	width: 316px;
	height: 30px;
}

#site-header {
	font-size: 56px;
	font-weight: normal;
}

input, textarea {
	font-size: 12px;
	border: solid thin #999;
}


/* =====
   LINKS */

.entry-content a:link, 
ul#sidebar a:link, 
#footer a:link, 
div#home-header a:link,
.entry-content a:active, 
ul#sidebar a:active, 
#footer a:active, 
div#home-header a:active,
.entry-content a:visited,
ul#sidebar a:visited, 
#footer a:visited, 
div#home-header a:visited,
.navigation a,
ol.commentlist a, div#respond a,
div.read-more a {
	color: #00A651;
}
.entry-content a {
	text-decoration: underline;
}
	.entry-content a:hover,
	.navigation a:hover,
	ul#sidebar a:hover,
	ol.commentlist a:hover,
	div#respond a:hover,
	#footer a:hover,
	div#home-header a:hover,
	div.read-more a:hover {
		text-decoration: underline;
	}
		div.read-more a { text-decoration: none; }
			div.read-more a:hover { text-decoration: underline; }

.entry-meta a, li.pingback a,
div#copy a, div#finalword a {
	color: #444;
	text-decoration: none;
}
	.entry-meta a:hover, li.pingback a:hover,
	div#copy a:hover, div#finalword a:hover {
		color: #000;
		text-decoration: underline;
	}

h1 a, h2 a, #site-header a, div.header-widgetarea a {
	color: #000;
	text-decoration: none;
}
	h1 a:hover, h2 a:hover, #site-header a:hover, div.header-widgetarea a:hover { color: #00A651; }

div#top-navigation div ul li a:link, div#top-navigation div ul li a:visited {
	color: #222;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	border-right: 1px solid #e9e9e9;
}
	div#top-navigation div ul li a:hover, div#top-navigation div ul li a:active {
		color: #000;
		background: #e9e9e9;
	}


/* =================
   ELEMENTS & DESIGN */

p.right { text-align:right; }
p.center { text-align:center; }
p.admin { color: #aaa; font-size: 12px; }
p.nocomments { padding: 0 20px; font-style: italic; color: #777; }

div#content embed, .embedded { text-align:center; margin: 0 0 14px 0; padding-left:0; border:0; } /* for movies */

blockquote { margin: 0 0 16px 20px; padding: 0 20px; border: 1px solid #e9e9e9; border-width: 0 0 0 1px; }
	blockquote.pullquote { width: 220px; padding: 5px 0; border: 0; font-size: 18px; line-height: 150%; }
		blockquote.pullquote p { margin-bottom: 0; }
ol.commentlist li blockquote { border: 0; padding:0; }

/* Images and aligns */
.alignleft, blockquote.alignleft { margin: 0 20px 20px 0; }
.alignright, blockquote.alignright { margin: 0 0 20px 20px; }
img.aligncenter, .aligncenter { margin: 0 auto 16px auto; text-align:center; }
.frame { padding: 1px; border: 1px solid #e9e9e9; }
.wp-caption { padding: 20px 18px; border: 1px solid #e9e9e9; color: #888; font-style: italic; text-align:center; }
p.wp-caption-text { margin: 10px 0 0 0 !important; padding:0; font-size: 12px; line-height: 14px !important; }

div.gallery { margin-bottom: 14px; }
	dl.gallery-item {}
		dt.gallery-icon {}
			img.attachment-thumbnail { border:0; }
		dd.gallery-caption { margin-top: 8px; font-size: 12px; color: #777; font-style: italic; }

/* Quick color fixes */
div.postmeta { color: #777; }
span.alert { color: red; }
div#content strong { color: #001300; }


/* ============
   POST FORMATS */

.format-aside { margin-left: 25px; margin-right: 25px; padding: 0 10px 0 20px; border-left: 1px solid #efefef; }
	.format-aside h2.entry-title { margin-bottom: 6px; font-size: 16px; line-height: 16px; }
	.format-aside div.entry-meta { display:none; }
	.format-aside div.entry-content {}
		.format-aside div.entry-content p { color: #666; font-size: 14px; margin-bottom: 14px; }


/* ==============
   PLUGIN SUPPORT */

div#disqus_thread {
	margin: 20px 0 20px 20px;
	padding: 20px 20px 1px 20px;
	background: #e9e9e9;
}
	div#dsq-global-toolbar { margin-top:0 !important; }
	div#disqus_thread a { color: #00A651; }
		div#disqus_thread a:hover { color: #000; text-decoration: underline; }
	div#dsq-global-toolbar { margin-top: 0; }
	a.dsq-brlink { display: none; }
	div.dsq-item-trackback { margin: 0 0 10px 0 !important; padding: 0 !important; }
		input.dsq-trackback-url { width: 350px; }
	ul#dsq-references { margin-bottom: 19px !important; }
	
	
	
/* ==============
HEADER */

.header_logo {
	width: 194px;
	height: 160px;
	float: left;
}
.header_info {
	width: 337px;
	height: 95px;
	float: right;
	margin-top: 25px;
}
.contact_info {
	margin: 18px 0 22px;
	height: 18px;
	overflow: hidden;
}
.pop_section_top {
	margin: 0 18px;
	border-top: solid thin #001300;
	clear: both;
	width: 100%;
}


/* ==============
BLOG */

input#submit {
	background-color: #001300;
	color: white;
	height: 25px;
	width: 110px;
	border: none;
	margin-top: 2px;
}
#comments {
	margin-top: 30px;
}



/*media queries for mobile*/

@media only screen and (max-device-width: 480px) {
	h1 {
	  font-size: 44px;
	}
	h2, h4, p, a, p a, li, .contact_info p, .contact_info a, .entry-meta, .entry-content p, .entry-summary p {
		font-size: 28px;
	}
	h3, .main_nav  {
		font-size: 36px;
	}
	.entry-title, .entry-title a {
		font-size: 48px;
		margin: 20px 0 32px
	}
	.entry-content p, .entry-summary p {
		margin-bottom: 30px;
	}
	.top_nav a {
		margin-right: 30px;
	}
	#header {
		height: 245px;
	}
	.header_logo img {
		width: 150%;
	}
	.header_info {
		float: left;
		margin-left: 120px;
		width: 700px;
	}
	.contact_info {
		height: 40px;
	}
	div.post {
		width: 94%;
		padding: 30px;
	}
	#sidebar-container {
		display: none;	
	}
	div#copy {
		height: 110px;
	}
	#footer_info p {
		font-size: 18px;
	}
}